<% include ./common/center-head.html%>
			<div class="section">
				<div class="section-head">
					<div class="section-head-info">
						<img src="http://t.cn/RCzsdCq" alt="">
						<p>早上好<b>小明</b></p>
						<p class="section-head-info-text">订餐了吗？提前订餐送的快！</p>
					</div>
					<ul>
						<li><a href="">
								<p class="section-head-title">我的红包</p>
								<p class="section-head-red"><span>0</span>个</p>
							</a></li>
						<li><a href="">
								<p class="section-head-title">我的金币</p>
								<p class="section-head-green"><span>256</span>个</p>
							</a></li>
						<li style="border: 0;"><a href="">
								<p class="section-head-title">账户余额</p>
								<p class="section-head-orange"><span>8.20</span>元</p>
							</a></li>
					</ul>
				</div>
				<div class="section-middle">
					<h3>订单</h3>
					<hr>
					<table class="layui-table">
						<colgroup>
							<col width="150">
							<col width="400">
							<col width="150">
							<col width="100">
						</colgroup>
						<thead>
							<tr>
								<th>菜品</th>
								<th>描述</th>
								<th>时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><img src="https://fuss10.elemecdn.com/1/2e/20670a4bcdf645267878363ba71a6jpeg.jpeg?imageMogr2/thumbnail/100x100/format/webp/quality/85"></td>
								<td>
									<p class="box-name">涛涛鸡汤饭</p>
									<p class="box-info">招牌大补参鸡汤，营养美味不是吹的，特价尝鲜一个月。</p>
								</td>
								<td>2019/9/9</td>
								<td><a href="">查看详情</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<% include ./common/center-foot.html%>	