<% include ./common/demo-head.html%>
<a href="/ucont"><img class="layui-nav-img" src="https://fuss10.elemecdn.com/3/58/a93fd92d242a7352e9fdb64b7d2eapng.png?imageMogr2/thumbnail/95x95/format/webp/quality/85"><%= username%></a>
							<dl class="layui-nav-child">
								<!-- 二级菜单 -->
								<dd><a href="">个人中心</a></dd>
								<dd><a href="">我的地址</a></dd>
								<dd><a href="/">退出登录</a></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="head-info">
					<div class="info-img">
						<img src="https://fuss10.elemecdn.com/3/58/a93fd92d242a7352e9fdb64b7d2eapng.png?imageMogr2/thumbnail/95x95/format/webp/quality/85"
						 alt="">
					</div>
					<p class="sname">正新鸡排（银泰城店）</p>
					<p class="score">评分 : <a href="">x</a></p>
				</div>
				<div class="introduce">
					<div>
						<span>起送价</span>
						<p>15元</p>
					</div>
					<div>
						<span>配送费</span>
						<p>配送费¥0.5</p>
					</div>
					<div>
						<span>平均送达速度</span>
						<p>43分钟</p>
					</div>
				</div>
			</div>
		</div>
<ul class="middle-nav">
	<li><a href="/ucont">所有商品</a></li>
	<li><a href="/ucont/comment">评论</a></li>
</ul>
<hr>
<div class="show">
	<div class="goods">
<!-- 		<div class="com">
			<div class="com-name">用户名</div>
			<div class="com-text"> 1、食用安全 食用安全是菜品作为食品的基本前题。要保证菜品食用安全，就必须保证菜点的所有原料无毒无害、清洁卫生，力求烹调加工方法得当，避免加工环境污染食品，使菜品对人体无毒无害。
				2、营养合理 营养合理是菜品作为食品的必要条件。对于单份菜品，要尽量避免原材料所合营养素在烹调加工中的损失，适当注意原材料的荤素搭配。对于整套菜点，不仅要注意供给数量充足的热量和营养</div>
		</div> -->
		<table class="layui-table">
  <colgroup>
    <col width="100">
    <col width="600">

  </colgroup>
  <thead>
    <tr>
		<th>昵称</th>
		<th>评论内容</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>贤心</td>
      <td> 1、食用安全 食用安全是菜品作为食品的基本前题。要保证菜品食用安全，就必须保证菜点的所有原料无毒无害、清洁卫生，力求烹调加工方法得当，避免加工环境污染食品，使菜品对人体无毒无害。
				2、营养合理 营养合理是菜品作为食品的必要条件。对于单份菜品，要尽量避免原材料所合营养素</td>

    </tr>

  </tbody>
</table>
		<form class="layui-form" action="">
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">评论</label>
				<div class="layui-input-block">
					<textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn">提交</button>
				</div>
			</div>
		</form>
		




	</div>
	<!-- 公告组件 -->
	<div class="notice">
		<div class="notice-text">
			<h3>商家公告</h3>
			<p>多款新品上线，请大家品尝后多多建议，祝愿大家身体安康，工作顺利。</p>
		</div>
		<p>配送说明：</p>
		<p>配送费¥0.5</p>
		<div class="notice-wor">
			<p>商家原因导致订单取消，赔付代金券</p>
			<p>该商户食品安全已由国泰产险承担，食品安全有保障</p>
			<p>该商家支持开发票，请在下单时填写好发票抬头</p>
		</div>
	</div>
</diV>



<% include ./common/demo-foot.html%>
