<% include ./common/demo-head.html%>
<ul class="middle-nav">
	<li><a href="">所有商品</a></li>
</ul>
<hr>
<div class="show">
	<div class="goods">
		
		<div class="layui-inline">
			<label class="layui-form-label">菜品查询 :</label>
			<div class="layui-input-inline" style="width: 200px;">
				<input type="text" name="keywords"  class="layui-input">
			</div>
			<div class="layui-input-inline">
			
				<a href="/admin" class="layui-btn">查询</a>
			</div>
		</div>
		<hr>
		<table class="layui-table">
			<colgroup>
				<col width="150">
				<col width="200">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th>菜品名称</th>
					<th>价格</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>糖醋排骨</td>
					<td>20</td>
					<td>人生就像是一场修行</td>
					<td><a href="">删除</a> | <a href="">修改</a></td>
				</tr>
			
			</tbody>
		</table>





	</div>
	<!-- 公告组件 -->
	<div class="notice">
		<div class="notice-text">
			<h3>商家公告</h3>
			<p>多款新品上线，请大家品尝后多多建议，祝愿大家身体安康，工作顺利。</p>
		</div>
		<p>配送说明：</p>
		<p>配送费¥0.5</p>
		<div class="notice-wor">
			<p>商家原因导致订单取消，赔付代金券</p>
			<p>该商户食品安全已由国泰产险承担，食品安全有保障</p>
			<p>该商家支持开发票，请在下单时填写好发票抬头</p>
		</div>
	</div>
</div>
<!-- 购物车组件, 当点击家务购物车时,此处使用循环 -->

<% include ./common/demo-foot.html%>
