<% include ./common/center-head.html%>

<div class="section" style="margin-top: 10px;">
	<h3>订单详情</h3>
	<hr>
	<ul class="order-nav">
		<li>订单已提交</li>
		<li>商家已接单</li>
		<li>等待送达</li>
	</ul>
	<div class="order-text">
		<p>订单等待送达 <br>  <span>最迟22:00送达</span> </p>
		<button>催促商家</button>
	</div>

	
	<div class="order-tab">
	
	<div class="order-tab-head">
		<img src="https://fuss10.elemecdn.com/6/ab/3dfa751233fb853fda548b3f5b4eejpeg.jpeg?imageMogr2/thumbnail/44x44/format/webp/quality/85" alt="">
		<p>乐山钵钵鸡</p>
		<P>订单号: 30556988235525</P>
	</div>
	
	<div class="order-cn">
		<div class="order-left">
			
		
		<table class="layui-table">
			<colgroup>
				<col width="200">
				<col width="100">
				<col width="100">
			</colgroup>
			<thead>
				<tr>
					<th>菜品</th>
					<th>数量</th>
					<th>小计(元)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>豆腐干</td>
					<td>1</td>
					<td>0.50</td>
				</tr>
				<tr>
					<td>香菇</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>木耳</td>
					<td>1</td>
					<td>0.50</td>
				</tr>
				<tr>
					<td>广味香肠</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>米饭</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>金针菇</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>豆腐干</td>
					<td>1</td>
					<td>0.50</td>
				</tr>
				<tr>
					<td>干豆皮</td>
					<td>1</td>
					<td>0.50</td>
				</tr>
				<tr>
					<td>剑笋</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				
				<tr>
					<td>群肝</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>开花肠</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>鸡心</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>香辣里脊肉</td>
					<td>1</td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>餐盒</td>
					<td></td>
					<td>1.00</td>
				</tr>
				<tr>
					<td>配送费</td>
					<td></td>
					<td>0.00</td>
				</tr>
			</tbody>
		</table>
		<div class="layui-input-block">
			实际支付: <span>12.50</span>
			<button class="layui-btn">去支付</button>
		</div>
		</div>
		<div class="order-right">
			<p>配送信息</p>
			<p>配送方式：	<span>乐山钵钵鸡提供配送服务</span></p>
			<p>送达时间: 	<span>尽快送出</span></p>
			<p>联系人：	<span>小明(<span>先生</span>)</span></p>
			<p>联系电话: 	<span>18888888888</span></p>
			<p>收货地址：	<span>武侯区科华北路57号</span></p>
			<p>发票信息：	<span>无发票</span></p>
			<p>备注：	<span>无需餐具</span></p>

		</div>
	</div>
	
	</div>
</div>
<% include ./common/center-foot.html%>
