<% include ./common/head.html%>
<!-- 首页,登录,注册  导航栏 -->
		<div class="nav">
			<a href="#" class="login"><img src="https://shadow.elemecdn.com/faas/desktop/media/img/map-logo.9a26ef.png" ></a>
			<!-- 注册的跳转路由在这里设置 -->
			<p class="p-regist">没有账号,现在就去<a href="/gologin" class="regist">去登录</a></p> 
		</div>
		<!-- 首页,登录,注册  页面中间logo -->
		<div class="info">
			<img src="https://shadow.elemecdn.com/faas/desktop/media/svg/map-logo-center.425427.svg" >
		</div>
<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">账号</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" placeholder="请输入注册账号" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">*必填</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">手机号</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" placeholder="请输入注册手机号" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">*必填</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">密码</label>
		<div class="layui-input-inline">
			<input type="password" name="password" required lay-verify="required" placeholder="请输入注册密码" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">*必填</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<a class="layui-btn" href="#">注册</a>
		</div>
	</div>
</form>
<% include ./common/foot.html%>